@charset 'UTF-8';

.commonBtn{
    width: 100px;
    padding: 8px 0 ;
    text-decoration: none;
    border: none;
    background-color: #7cc7de;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.greyBtn{
    width: 100px;
    padding: 8px ;
    text-decoration: none;
    border: none;
    background-color: #aaa;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}