@charset "UTF-8";

.like-box{
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: #ccc;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}


.like-btn-on-card {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 23px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    z-index: 10;    
    font-weight: lighter;
    color: #4b4b4bd6;
    transition: transform 0.2s;
}

.like-btn-on-card:hover{
    transform: scale(1.2);
}


/* 빈 하트 선 얇게 */
.like-heart.empty {
    font-weight: 10;
    color: #4b4b4bd6;
}