.loader-center {
  position: fixed;      /* 화면 전체 기준 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6); /* (선택) 흐린 오버레이 */
  z-index: 9999;  
  transform: translateY(-100px); 
}

.spin {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
