.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 6px;
}

.pagination button {
  width: 36px;
  height: 36px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  background-color: #95d8eca8;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover 효과 */
.pagination button:hover:not(:disabled) {
  background-color: #63b4cb;
  transform: translateY(-1px);
}

/* 활성화된 페이지 */
.pagination button.active {
  background-color: #7cc7de;
  font-weight: 600;
}

/* 비활성화 버튼 (이전/다음 불가 상태) */
.pagination button:disabled {
  background-color: #cccccc7b;
  color: #a3a3a3;
  cursor: not-allowed;
}

/* 맨 앞으로/맨 뒤로 버튼 아이콘 */
.edge-btn {
  font-weight: bold;
  background-color: #7cc7de;
}

/* 아이콘도 중앙 정렬 보정 */
.pagination svg {
  font-size: 18px;
  display: block;
  margin: 0 auto;

}
