@charset "UTF-8";

.shop-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 78%;
}

.shop-list-container h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.shop-list-g {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
}

/* 반응형 디자인 */
/*
@media (max-width: 1200px) {
    .shop-list-container {
        width: 90%;
        margin-top: 100px;
    }
    .shop-list-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .shop-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .shop-list-grid {
        grid-template-columns: 1fr; 
        gap: 30px;
    }
    .shop-list-container > h2 {
        font-size: 28px;
    }
}*/