@charset "UTF-8";
button {
  border: none;
  background: none;
  cursor: pointer;
}
.admin-user-manage{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-user-manage h2{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.mode-select-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-bottom: 50px;
}

.mode-select-btn  {
    font-size: 15px;
    border: 2px solid #7cc7de;
    padding: 10px;
    border-radius: 30px;
    transition: background 0.5s ease;
    cursor: pointer;
}

.mode-select-btn.active {
    background-color: #63b4cb;
    color: white
}
.search-user-bar {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-user-select {
  width: 200px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-user-input {
  flex: 1;
  padding: 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-user-btn {
  background-color:#7cc7de;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;

}

.search-user-btn:hover {
  background-color:#6db3c8;
}

.user-list {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.user-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}