@charset 'UTF-8';

.admin-header-container{
    width: 75%; /* Header와 너비 통일 */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.admin-header-container h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: rgb(187, 187, 187);
}

.admin-page-logo{
    flex: 1;
}

.admin-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 가운데 정렬 */
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
}

.link, .link-go-back{
    text-decoration: none;
    color: inherit;
}

.link{
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
    color: #333;
}

.link:hover{
    color: #2193b0;
}

.link-go-back{
    padding: 8px 10px ;
    text-decoration: none;
    border: none;
    background-color: #d0d0d0;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.link-go-back:hover{
    background-color: #84c2d4;
}


/* 반응형 추가 */


@media (max-width: 1000px) {

 .admin-header-container {
    width: 90%;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    gap: 10px;
  }
  .admin-nav {
    font-size: 13px;
    gap: 15px;
    position: static; /* absolute 해제 */
    transform: none;
    justify-content: flex-start; /* 왼쪽 정렬 */
    gap: 20px;
  }

  /* 텍스트 축약 버전 */
  .link[data-short="true"] span {
    display: none; /* 긴 텍스트 숨기기 */
  }

  .link[data-short="true"]::after {
    content: attr(data-short-text); /* 짧은 텍스트 표시 */
  }
}

