@charset "UTF-8";

.admin-user-manage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

.admin-user-manage h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

/* 검색바  */
.admin-user-search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  width: 100%;
}

.admin-user-search-container h4 {
  color: #6a6969;
}

.admin-user-mode-filter-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 63px;
}

.admin-user-filter-box{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;
}
.admin-user-radio-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.admin-user-radio-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.admin-user-radio-wrap input[type="radio"] {
  display: none;
}

.admin-user-radio-wrap span {
  flex: 1;
  width: 100px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #495057;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}

.admin-user-radio-wrap input[type="radio"]:checked + span {
  color: #7cc7de;
  border-color: #7cc7de;
  font-weight: 600;
}

/* 검색 바 */
.admin-user-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.admin-user-search-form-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-admin-user-select,
.search-admin-user-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 38px;
}

.search-admin-user-select {
  min-width: 120px;
}

.search-admin-user-input {
  width: 400px;
}

.search-admin-user-btn {
  padding: 8px 25px;
  border: none;
  background-color: #7cc7de;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  height: 38px;
}

.search-admin-user-btn:hover {
  background-color: #6db3c8;
}

/*  테이블 */
.user-list {
  width: 100%;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}

.user-list th {
  background-color: #7cc7de;
  color: white;
  font-weight: 600;
  padding: 12px 10px;
}

.user-list td {
  padding: 12px 10px;
  border-bottom: 1px solid #eee;
  color: #555;
}

.user-list tbody tr:hover {
  background-color: #f8f9fa;
}

.no-results {
  text-align: center;
  padding: 50px 0;
  color: #888;
  font-size: 16px;
}
