@charset 'UTF-8';

.admin-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: auto; /*가로 스크롤 숨기기*/
    white-space: nowrap; /*줄바꿈 금지*/
}
.scroll-container{
    width: 100%;
    min-width: 1400px;
}
.admin-h{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 85px; /* Header와 높이 통일 */
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.admin-outlet{
    margin-top: 140px;
    margin-bottom: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1000px){
    .admin-h{
        height: 150px; /* Header와 높이 통일 */
    }

    .admin-outlet{
        margin-top: 200px;
    }
}
