@charset 'UTF-8';

.admin-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap; /* 줄바꿈 금지 */
}

.scroll-container {
    width: 100%;
    min-width: 1400px;
}

.admin-h {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 85px; /* Header와 높이 통일 */
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.admin-outlet {
   width: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 130px 0;
   min-height: 100vh;
}

/* ✅ 1000px 이하일 때 가로 스크롤 허용 */
@media (max-width: 1000px) {
    .scroll-container {
        min-width: auto;
        overflow-x: auto; /* 가로 스크롤 활성화 */
      
    }

    .admin-h {
        height: 150px; /* Header와 높이 통일 */
    }

    .admin-outlet {
        margin-top: 200px;
        overflow-x: auto; /* 표가 넘칠 때 가로 스크롤 표시 */
    }

    .admin-outlet table {
        min-width: 900px;
        display: flex;

    }
}
