@charset 'UTF-8';

.admin-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap; /* 줄바꿈 금지 */
}

.admin-h {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.admin-outlet {
   width: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   min-height: 100vh;
}

/* ✅ 1000px 이하일 때 가로 스크롤 허용 */
/*
@media (max-width: 1000px) {
    .scroll-container {
        min-width: auto;
        overflow-x: auto; 
      
    }

    .admin-h {
        height: 150px; /
    }

    .admin-outlet {
        margin-top: 200px;
        overflow-x: auto; 
    }

    .admin-outlet table {
        min-width: 900px;
        display: flex;

    }
}
*/