@charset "UTF-8";

.buyer-review-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.buyer-review-container h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px; /* 제목과 정렬 컴포넌트 사이 간격 */
}

.review-table {
  width: 100%; 
}

.review-table table {
  width: 100%;
  border-collapse: collapse; /*thead/tbody 붙이기 */
  border-spacing: 0;
}

/* 헤더 스타일 */
.review-table thead th {
  background-color: #7cc7de;
  color: white;
  font-weight: 600;
  padding: 14px;
}

/*본문 */
.review-table tbody tr {
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s ease;
}

/* hover 시 살짝 강조 */
.review-table tbody tr:hover {
  background-color: #fafafa;
}

/* 셀 기본 스타일 */
.review-table tbody td {
  padding: 1.2rem 1rem;
  vertical-align: top;
  word-break: keep-all;
}

/* 상품 정보 */
.review-table .product-info {
  font-size: 15px;
  line-height: 1.5;
}

.product-name{
  padding-left: 5px;
}
.product-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.review-table .product-info .product-name {
  font-weight: 600;
  color: #222;
  margin-bottom: 0.2rem;
}

.review-table .product-info .company-name {
  font-size: 13px;
  color: #888;
}

/* 리뷰 내용 */
.review-table .review-content {
  font-size: 15px;
  line-height: 1.6;
}

.review-table .review-content .review-date {
  font-size: 13px;
  color: #999;
  margin-bottom: 0.4rem;
}

.review-table .review-content .review-rating {
  color: #fcc419;
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.review-table .review-content .review-text {
  color: #333;
  white-space: pre-line;
  line-height: 1.7;
  margin-bottom: 0.4rem;
}

.review-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center  
}

.revie-cont{
    flex: 3;
}

.review-actions{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* 버튼 영역 (선택사항) */
.review-actions button {
  border:none;
  padding: 7px 30px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.review-table .review-actions button:hover {
  background-color: #7cc7de;
  color: white;
}

.buyer-review-table td:nth-child(2) {
  white-space: normal !important;
  word-break: break-all;
  text-align: left;
}


/* 반응형 */
/*
@media (max-width: 1200px) {
    .buyer-review-container{
        margin-top: 100px;
    }
}

@media (max-width: 486px) {

    .buyer-review-container{
        margin-top: 100px;
    }
  
    .review-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .review-actions{
        flex-direction: row;
    }

    .review-actions{
        flex-direction: row;
    }

    .review-actions button{
        flex: 1;
        padding: 7px 14px;
    
    }
}
*/