@charset "UTF-8";

.cs-drop-down-container {
    position: absolute;
    top: 100%;
    right: 50;
    background-color: white;
     border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 120px; /* 너비 설정 */
}

.cs-link {
    margin: 0 10px 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
}

.cs-link:hover {
    background-color: #f5f5f5;
    color: #2193b0;
}