@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: flex-start;
}

.layout-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* 콘텐츠(중간 부분)가 남는 공간을 채우게 */
.layout-container main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
/*
@media (max-width: 992px) {
    .layout-container main {
      padding: 130px 0px;
    }
}

@media (max-width: 768px) {
    .layout-container main {
      padding: 180px 0px;
    }
}*/