@charset 'UTF-8';

.login-container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);

}

.mode-selector {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 20px;
}

.mode-box {
  flex: 1;
  padding: 20px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.mode-box.active {
  border-color: #007bff;
  background: #f0f8ff;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.login-form input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gainsboro;
    font-size: 18px;
}

.login-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.login-btn {
  width: 100%;
  background: #77bdd2;
  color: white;
  border: none;
  padding: 13px 15px;
  border-radius: 4px;
  font-size: 17px;

}

.auth-btn-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.find-btn {
  font-size: 15px;
  background: none;
  color: rgb(90, 90, 90);
  border: none;
  border-radius: 4px;
}


