@charset "UTF-8";

.order-page {
  width: 75%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid #7cc7de;
  padding-bottom: 20px;
}

.order-page h2 {
  font-size: 22px;
  border-left: 5px solid #7cc7de;
  padding-left: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-self: center;
}
   

/*배송지 선택*/
.delivery-type {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.delivery-type label {
  margin-right: 15px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}


/*배송 요청 사항*/
.delivery-request-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
  text-align: left;
  border-top: 1px solid #eee;
}

.delivery-request-table th,
.delivery-request-table td {
  border-bottom: 1px solid #eee;
  padding: 12px 10px;
}

.delivery-request-table th {
  width: 180px;
  background: #f9f9f9;
  font-weight: 600;
}

.pwd-input,
.delivery-request-table select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.enter-method {
    display: flex;
    gap: 10px;
}
.enter-method label{
    display: flex;
    gap: 10px;
}

/*주문 상품 영역*/
.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th {
  background-color: #f5f5f5;
  font-weight: 600;
  padding: 12px;
}

.order-table td {
  border-bottom: 1px solid #eee;
  text-align: center;
  padding: 12px;
}

.order-table .item-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.order-table{
  text-align: center;
}
.item-info{
  text-align: left;
  padding-left: 20px;
}

.order-table .item-info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #eee;
}

.order-table .sale-price {
  color: #e63946;
  font-weight: 700;
}

/*결제 수단*/
.payment-methods {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  background-color: #f5f5f5;
  padding: 40px 20px;
  border-radius: 4px;
}

.payment-methods input {
  margin-right: 6px;
}

/*결제 버튼*/
.payment-summary {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 23px;
  border-top: 2px solid #7cc7de;
}

.pay-btn {
  margin-top: 15px;
  background: #7cc7de;
  color: #fff;
  padding: 12px 35px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  background: #74bbd0;
}
/*
@media (max-width: 1200px) {
  .order-page {
    width: 90%;
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .enter-method{
    flex-direction: column;
  }

  .payment-methods{
    flex-direction: column;
  }
}*/