@charset "UTF-8";

.order-complete {
  width: 70%;
  margin: 80px auto;
  padding: 40px 50px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;

}

.order-complete h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* 결제 정보 & 배송 정보 영역 */
.total-payment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: left;
}

/* 개별 카드 */
.payment-into,
.order-addr-info {
  flex: 1;
  background-color: #f8fdff;
  border: 1px solid #d6f0f7;
  border-radius: 12px;
  padding: 24px;
}


.payment-into h3,
.order-addr-info h3 {
  color: #6bbdd3;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #7cc7de;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.payment-into div,
.order-addr-info div {
  margin: 8px 0;
  font-size: 15px;
  line-height: 1.5;
}

.order-addr-info p {
  margin-left: 10px;
  color: #555;
  font-size: 14px;
}

/* 반응형 */
@media (max-width: 768px) {
  .total-payment-info {
    flex-direction: column;
  }
  .order-complete h2{
    font-size: 20px;
  }

  .order-complete {
    padding: 30px 20px;
  }
}
