@charset 'UTF-8';

.customer-reviews-section .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
    padding-bottom: 15px;
}

.write-review-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.review-container{
    padding: 20px 0;
    width: 100%;
}

.review-box{
    border-bottom: 1px solid #7cc7de;
    padding: 50px 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.nickname-box{
    flex: 1;
}

.review-info-box{
    flex: 3;
}

.product-info-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #aaa;
}

.date-box{
    font-size: 13px;
    color: #aaa;
    display: flex;
    justify-self: end;
    margin-top: 40px;
}

.review-placeholder {
    padding: 80px 20px;
    text-align: center;
    color: #aaa;
    border-bottom: 1px solid #eee;
}

.more-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    font-weight: 500;
}


.more-reviews:hover{
    color: #7cc7de;
    font-weight: bolder;
}