@charset 'UTF-8';

.info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info-content h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.product-catchphrase {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}