@charset 'UTF-8';

.productCard {
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*.productImageWrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}*/

.productImageWrapper {
    width: 100%;
    padding-top: 100%; /* 1:1 비율 유지 */
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9; /* 여백이 생길 때 자연스럽게 보이도록 배경색 */
}


.productDeleted{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 116, 116, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*.productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지 전체 표시 (잘리지 않음) */
    object-position: center; /* 가운데 정렬 */
}

.productInfo {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.productName {
    font-size: 16px;
    line-height: 1.4;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* 줄바꿈 금지 */
}

.productId{
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.productPrice {
    margin-top: auto;
    /* 가격을 아래로 */
}

.productPrice .originalPrice {
    text-decoration: line-through;
    color: #999;
    font-size: 13px;
    margin-right: 8px;
}

.productPrice .salePrice {
    font-size: 18px;
    font-weight: bold;
}

.productRatingLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #666;
    margin-top: 10px; /* Push to the bottom */
}