@charset "UTF-8";

.product-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 78%;
}

.product-list-container h2{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}


.product-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

@media (max-width: 992px) {
    .product-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-box {
        grid-template-columns: repeat(2, 1fr);
    }
}