@charset 'UTF-8';

.info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0;
    font-size: 17px;
}
.info-content h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-catchphrase {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.product-description-html {
    width: 100%;
    overflow: hidden;
}

.product-description-html img {
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: 15px 0;
}