@charset "UTF-8";

.qna-detail-container {
    width: 75%;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
}

.qna-detail-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 20px;
}

.qna-detail-header h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    color: #333;
}

.qna-detail-buttons{
    display: flex;
    justify-content: end;
}
.qna-detail-buttons button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qna-detail-buttons button:first-child {
    background-color: #6ac7e3;
    color: white;
}

.qna-detail-buttons button:last-child {
    background-color: #eee;
    color: rgb(93, 93, 93);
    margin-left: 10px;
}

.qna-detail-buttons button:hover {
    opacity: 0.8;
}

.qna-detail-info {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.qna-detail-info p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 8px;
}

.qna-detail-info p strong {
    font-weight: 600;
    color: #444;
    margin-right: 5px;
}

.qna-detail-content {
    margin-bottom: 25px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
}

.qna-detail-content h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.qna-detail-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.7;
    white-space: pre-wrap;
}

.qna-detail-images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.qna-detail-images img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #b8b8b8;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.qna-detail-images img:hover {
    transform: scale(1.05);
}

.qna-detail-answer {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #6ac7e3;

}

.qna-detail-answer p{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
}

.qna-detail-h,
.qna-detail-answer h4 {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    border-left: 5px solid #7cc7de;
    padding-left: 10px;
}
.qna-detail-answer p {
    font-size: 16px;
    color: #555;
    line-height: 1.7;
    white-space: pre-wrap;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .qna-detail-container {
        width: 90%;
        padding: 20px;
    }

    .qna-detail-header h2 {
        font-size: 24px;
    }

    .qna-detail-buttons button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .qna-detail-info p,
    .qna-detail-content p {
        font-size: 15px;
    }

    .qna-detail-images img {
        width: 100%;
        max-width: 150px;
        height: auto;
    }
}
