@charset 'UTF-8';

/* 배경: 전체 화면 어둡게 덮기 */
.qna-image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.25s ease-in-out;
}

/* 이미지와 버튼을 감싸는 박스 */
.qna-image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
    max-height: 90vh;
}

/* 닫기 버튼 */
.qna-close-button {
    position: absolute;
    top: 5px; /* 이미지 위쪽에 배치 */
    right: 5px;
    background: rgba(168, 168, 168, 0.389);
    border: none;
    border-radius: 4px;
    width: 38px;
    height: 38px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;
}

.qna-close-button:hover {
    color: white;
    transform: scale(1.15);
}

/* 이미지 스타일 */
.qna-image-box img {
    max-width: 95vw;
    max-height: 90vh;
    object-fit: contain;
}


/* 등장 애니메이션 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
