.shop-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 78%;
}

.shop-list-container h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.shop-list-subtitle {
    text-align: center;
    color: #666;
    font-size: 16px;
}

.shop-list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-top: 20px;
}

.no-results {
    grid-column: 1 / -1; /* Grid의 모든 컬럼을 차지하도록 설정 */
    text-align: center;
    padding: 80px 20px;
    color: #888;
    font-size: 18px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .shop-list-container {
        width: 90%;
        margin-top: 100px;
    }
    .shop-list-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .shop-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .shop-list-grid {
        grid-template-columns: 1fr; /* 모바일에서는 한 줄에 하나씩 표시 */
        gap: 30px;
    }
    .shop-list-container > h2 {
        font-size: 28px;
    }
}