@charset "UTF-8";

.seller-product-container{
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.seller-product-container h2{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.seller-product-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.seller-btn-box {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
}

.seller-btn-box button {
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.seller-btn-box button {
    background-color: #7cc7de;
    color: white;
}

.seller-btn-box button:hover {
    background-color: #6ab8d0;
}


.seller-product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.seller-product-item {
    position: relative;
}

/*.seller-product-checkbox{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
}*/

.seller-product-update{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    padding: 8px;
    z-index: 10;
    cursor: pointer;
    background-color: #2c8cda;
    border-radius: 4px;
    color: white;
}


@media (max-width: 992px) {
    .seller-product {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .seller-product {
        grid-template-columns: repeat(2, 1fr);
    }
}