@charset "UTF-8";

.seller-order-detail-modal-container {
  width: 100%;
  padding: 40px 50px;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;

}

.seller-order-detail-modal-container h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* 결제 정보 & 배송 정보 영역 */
.total-post-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: left;
}

/* 개별 카드 */
.post-info,
.seller-addr-info {
  flex: 1;
  background-color: #f8fdff;
  border: 1px solid #d6f0f7;
  border-radius: 12px;
  padding: 24px;
}


.post-info h3,
.seller-addr-info h3 {
  color: #6bbdd3;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #7cc7de;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.post-info div,
.seller-addr-info div {
  margin: 8px 0;
  font-size: 15px;
  line-height: 1.5;
}

.seller-addr-info p {
  margin-left: 10px;
  color: #555;
  font-size: 14px;
}

  .no-results {
    text-align: center;
  }



/* 반응형 */
/*
@media (max-width: 768px) {
  .total-post-info {
    flex-direction: column;
  }

  .order-complete {
    padding: 30px 20px;
  }
}*/
