@charset "UTF-8";

.side-menu-title{
    padding-left: 10px;

}
.side-menu-separator{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
    width: 100%;
}


.side-link-btn{
    text-decoration: none;
    color: black;
    padding: 12px;
    width: 100%;
    font-size: 17px;
    
}

.side-link-btn:hover{
    background-color: #f5f5f5;
    color: #2193b0;
    border-radius: 4px;
    cursor: pointer;
}

.side-link-btn.active{
    background-color: #eef8ff;
    color: #2193b0;
    font-weight: bold;
    border-radius: 4px;
}