.upload-faq-form {
    width: 75%;
    min-width: 1000px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.upload-faq-form h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.upload-faq-form h3{
    font-size: 20px;
    margin: 40px 0 20px 0;
    padding-left: 10px;
    border-left: 5px solid #7cc7de;
}

.upload-faq-input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.upload-faq-input-box label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
}

.upload-faq-input-box .upload-faq-select,
.upload-faq-input-box input[type='text'],
.upload-faq-input-box input[type='number'],
.upload-faq-input-box textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    transition: border-color 0.2s;
}

.upload-faq-select.placeholder-selected {
    color: #999; /* 플레이스홀더 색상 */
}


.upload-faq-input-box .upload-faq-select:focus,
.upload-faq-input-box input[type='text']:focus,
.upload-faq-input-box textarea:focus {
    outline: none;
    border-color: #7cc7de;
    box-shadow: 0 0 0 2px #7cc7de(90, 147, 230, 0.2);
}

.upload-faq-input-box textarea {
    min-height: 150px;
    resize: vertical;
    font-family: inherit;
}

.faq-create-b-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}

.faq-create-b-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.faq-back-b {
    background-color: #f0f0f0;
    color: #555;
    border: 1px solid #ddd;
}

.faq-back-b:hover {
    background-color: #e0e0e0;
}

.faq-create-b {
    background-color: #7cc7de;
    color: white;
}

.faq-create-b:hover {
    background-color: #72b5ca;
}