@charset 'UTF-8';


.footer {
    width: 100%;
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 50px 20px;
    border-top: 1px solid #e9ecef;
    align-items: end;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    flex-basis: 30%;
}

.footer-logo {
    font-size: 22px;
    color: #343a40;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 14px;
}

.footer-right {
    flex-basis: 65%;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-links h4,
.footer-sns h4 {
    color: #343a40;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-sns a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
    color: #2193b0;
}

.footer-sns a {
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #e9ecef;
    padding-top: 20px;
    font-size: 13px;
    color: #888;
}